@using Model
@model Model.Login_Model

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>

<div class="container" id="container">
    <div class="form-container ">
        @using (Html.BeginForm("SignupUser", "Login", FormMethod.Post, new { enctype = "multipart/form-data", accept_charset = "utf-8" }))
        {
            @Html.Partial("~/Views/Shared/_Alert.cshtml")

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h1>Sign Up</h1>
            <input type="text" name="Username" value="@(Model!=null?Model.Username:"")" placeholder="Username" />
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            <input type="email" name="Email" value="@(Model!=null?Model.Email:"")" placeholder="Email" />
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            <input type="password" id="pass" name="Password" placeholder="Password" onkeyup="passStrength(this.val)" />
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            <meter max="3" value="0" id="password-strength-meter" style="width:70%" title="Strength"></meter>            
            <input type="password" id="repass" name="RePassword" placeholder="Re-Type Password" />
            <div id="divcaptcha" class="g-recaptcha"></div>
            <input type="text" name="captcha" id="txtCaptcha" style="display:none" required />
            @*<div class="g-recaptcha" data-sitekey="6LeDmCYgAAAAABeq5a6Tb2N8FB9KfeTxoHJjBnKW" data-callback="verifyCaptcha"></div>*@
            <span id="captchaError"></span>
            <button>Sign Up</button>
            <h5>Already have account?<a href="~/Login/Index"> Signin</a></h5>
        }
    </div>
</div>.

<script>
    window.onload = function () {
        $('#password-strength-meter').hide();

    }


    function passStrength(val) {
        var newPassword = document.getElementById('pass').value;
        let passLength = $('#pass').val().length;
        console.log(passLength);
        console.log(newPassword);

        var strongRegex = new RegExp("^(?=.{8,15})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g"); // special char 2 ! W
        var mediumRegex = new RegExp("^(?=.{6,15})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");// 6 char A Z az 09
        var lowRegex = new RegExp("(?=.{5,}).*", "g"); //less than 5 char

        if (strongRegex.test(newPassword)) {
            $('#password-strength-meter').val(4);
            $('#password-strength-meter').show();
        }
        else if (mediumRegex.test(newPassword)) {
            $('#password-strength-meter').val(2);
            $('#password-strength-meter').show();
        }
        else if (lowRegex.test(newPassword)) {
            $('#password-strength-meter').val(1);
            $('#password-strength-meter').show();
        }
        else {
            $('#password-strength-meter').val(1);
            $('#password-strength-meter').hide();
        }
    }
</script>